<div class="row">
  <div class="col-sm-9">
    <H2>Upcoming events in your area:</H2>
    <hr>
    <% if @events_today.size > 0 %>
        <h4>Today's Events:</h4>
        <ul>
          <% @events_today.each do |event| %>
           <li><%= link_to event.name, event_path(event) %> at <%= event.formatted_time_short %>, <%= pluralize(event.distance.round(1), 'mile') %></li>
          <% end %>
        </ul>
    <% end %>
    <% if @events_tomorrow.size > 0 %>
        <h4>Future Events:</h4>
        <ul>
          <% @events_tomorrow.each do |event| %>
           <li><%= link_to event.name, event_path(event) %> on <%= event.formatted_time_long %>, <%= pluralize(event.distance.round(1), 'mile') %></li>
          <% end %>
        </ul>
    <% end %>
  </div>
  <div class="col-sm-3">
      <center>
        Current Location:<br>
        <b><%= @city %></b><br>
        <small>
          Search radius:
            <% Event::SEARCH_DISTANCES.each do |dist| %>
              <% if params[:distance] == dist.to_s || dist == 10 && params[:distance] == nil %><b><% end %>
              <%= link_to "#{dist}", events_path(:distance => dist) %></b><% unless Event::SEARCH_DISTANCES.last == dist %>,<% end %>

            <% end %>
        </small>
      </center>
        <br>
        <center>
        <%= link_to "Create Event", new_event_path, class: "btn btn-success" %>
        </center>
        <br>
        <center>
          <small>
            Events total: <b><%= @total_events %></b><br>
            Future events total: <b><%= @total_future_events %></b>
          </small>
        </center>
  </div>
</div>