<div class="row">
  <div class="col-sm-9">
    <H2>Upcoming events in your area:</H2>
    <hr>
    <% if @events_today.size > 0 %>
        <h4>Today's Events:</h4>
        <% @events_today.each do |event| %>
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src=<%= "https://maps.googleapis.com/maps/api/staticmap?zoom=15&size=600x300&maptype=roadmap&markers=color:red%7C#{event.latitude},#{event.longitude}&key=#{Rails.application.secrets.google_static_maps_api_key}" %> alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"><%= event.name.length < 19 ? "#{event.name}" : "#{event.name[0..21]}..." %></h5>
              <p class="card-text"><%= event.description %></p>
              <%= link_to "Today at #{event.formatted_time_short} - #{pluralize(event.distance.round(1), 'mile')}", event_path(event), class: "btn btn-primary" %>
            </div>
          </div>
        <% end %>
    <% end %>

    <% if @events_future.size > 0 %>
        <h4>Future Events:</h4>
        <ul>
          <% @events_future.each do |event| %>
           <li><%= link_to event.name, event_path(event) %> on <%= event.formatted_time_long %>, <%= pluralize(event.distance.round(1), 'mile') %></li>
          <% end %>
        </ul>
    <% end %>
  </div>
  <div class="col-sm-3">
      <center>
        Current Location:
          <small>
            <small>
              <% if current_user %>
                <%= link_to "Change", edit_registration_path(current_user) %>
              <% end %>
            </small>
          </small>
        <br>
        <b><%= @address %></b>
        <br>
        <small>
          Search radius:
            <% Event::SEARCH_DISTANCES.each do |dist| %>
              <% if params[:distance] == dist.to_s || dist == 10 && params[:distance] == nil %><b><% end %>
              <%= link_to "#{dist}", events_path(:distance => dist) %></b><% unless Event::SEARCH_DISTANCES.last == dist %>,<% end %>

            <% end %>
        </small>
      </center>
        <br>
        <center>
        <%= link_to "Create Event", new_event_path, class: "btn btn-success" %>
        </center>
        <br>
        <center>
          <small>
            Events total: <b><%= @total_events %></b><br>
            Future events total: <b><%= @total_future_events %></b>
          </small>
        </center>
  </div>
</div>

<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="http://payload305.cargocollective.com/1/8/258061/8403272/Carrack_top_three_quarter_gurmukh_half_2000.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Test</h5>
      <p class="card-text">Test</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="http://payload305.cargocollective.com/1/8/258061/8403272/Carrack_top_three_quarter_gurmukh_half_2000.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="http://payload305.cargocollective.com/1/8/258061/8403272/Carrack_top_three_quarter_gurmukh_half_2000.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>