<div class="row">
  <div class="col-sm-9">
    <H2>Upcoming events in your area:</H2>
    <hr>
    <% if @events_today.size > 0 %>
        <h4>Today's Events:</h4>
        <ol>
        <% @events_today.each do |event| %>
          <li><%= link_to "#{event.name}", event_path(event) %> at <%= "#{event.formatted_time_short} - #{pluralize(event.distance.round(1), 'mile')}" %></li>
        <% end %>
        </ol>
    <% end %>

    <% if @events_future.size > 0 %>
        <h4>Future Events:</h4>
        <ol>
          <% @events_future.each do |event| %>
           <li><%= link_to event.name, event_path(event) %> on <%= event.formatted_time_long %>, <%= pluralize(event.distance.round(1), 'mile') %></li>
          <% end %>
        </ol>
    <% end %>
  </div>
  <div class="col-sm-3">
      <center>
        Current Location:
          <small>
            <small>
              <% if current_user %>
                <%= link_to "Change", edit_registration_path(current_user) %>
              <% end %>
            </small>
          </small>
        <br>
        <b><%= @address %></b>
        <br>
        <small>
          Search radius:
            <% Event::SEARCH_DISTANCES.each do |dist| %>
              <% if params[:distance] == dist.to_s || dist == 10 && params[:distance] == nil %><b><% end %>
              <%= link_to "#{dist}", events_path(:distance => dist) %></b><% unless Event::SEARCH_DISTANCES.last == dist %>,<% end %>

            <% end %>
        </small>
      </center>
        <br>
        <center>
        <%= link_to "Create Event", new_event_path, class: "btn btn-success" %>
        </center>
        <br>
        <center>
          <small>
            Events total: <b><%= @total_events %></b><br>
            Future events total: <b><%= @total_future_events %></b>
          </small>
        </center>
  </div>
</div>

<!--
<div class="card-deck">
   <div class="card">
    <img class="card-img-top" src="http://payload305.cargocollective.com/1/8/258061/8403272/Carrack_top_three_quarter_gurmukh_half_2000.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Test</h5>
      <p class="card-text">Test</p>
    </div>
  </div>
</div>
--!>