<div class="col-md-5">
<h2>New Event:</h2>

<%= form_for @event do |f| %>

  <div><%= f.label :name %><br>
  <%= f.text_field :name, autofocus: true, class: "form-control" %></div><br>

  <div><%= f.label :description %> (Optional)<br>
    <%= f.text_area :description, class: "form-control" %></div><br>

  <div><%= f.label :location %><br>
    <%= f.text_field :location, class: "form-control" %></div><br>

  <div><%= f.label :time_date %><br>
    <div class="input-group" id='event_time_date'>
      <%= f.text_field :time_date, class: "form-control" %>
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
    </div><br>

  <div><%= f.submit class: "btn btn-primary" %></div>
<% end %>
</div>