<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico' %>

    <!-- Javascripts ================================================== -->
    <!-- Placed in the head of the document so turbolinks can do it's think without interference -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    <body>
      <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="container">
          <%= link_to site_name, root_path, :class => "navbar-brand" %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item <%= 'active' if current_page?(events_path) %>">
                <li><%= link_to "Events", events_path, class: "nav-link" %></li>
              </li>
            </ul>
            <ul class="navbar-nav navbar-right">
                <% if user_signed_in? %>
                  <% if current_user.admin %>
                    <li>
                      <%= link_to "Admin", admin_index_path %></font>
                    </li>
                  <% end %>
                  <li class="nav-item <%= 'active' if current_page?(edit_user_registration_path) %>">
                    <%= link_to "Profile", edit_user_registration_path, class: "nav-link" %>
                  </li>
                <% end %>
                <% if user_signed_in? %>
                  <li class="nav-item">
                    <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link" %>
                  </li>
                <% else %>
                  <li class="nav-item <%= 'active' if current_page?(new_user_session_path) %>">
                    <%= link_to "Login", new_user_session_path, class: "nav-link" %>
                  </li>
                <% end %>
            </ul>
          </div>
        </div>
      </nav>
      <br><br>

      <!--Container typically starts here-->
      <% if content_for?(:jumbotron) %>
        <div class="jumbotron">
          <div class="container">
            <%= render "layouts/flash_notices" %>
            <%= yield :jumbotron %>
          </div>
        </div>
        <div class="container">
      <% else %>
        <br>
        <div class="container">
        <%= render "layouts/flash_notices" %>
      <% end %>

      <%= yield %>

        </div>
        <div class="container">
          <div class="footer">
            <hr>
            <p>&copy; Up4 2017</p>
          </div>
        </div>
      <!-- end container -->
    </body>
</html>